<!DOCTYPE html>
<html>
    <head>
       <link rel='stylesheet' href='./css/styles.css'/>
       <title>404 page</title>
    </head>
    <body>
        <div class="main-content">
         {{>header}}
        <p>{{error}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>